/* GENERAL
**********************/
html, body {
  margin: 0;
  background-color: rgb(136, 80, 41);
  background: linear-gradient(to bottom, rgb(136, 80, 41), rgb(92, 52, 23), rgb(136, 80, 41));
  min-width: 300px;
  min-height: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none
}

main {
  min-width: 0;
  min-height: 0
}

::-webkit-scrollbar { width: 4px }
::-webkit-scrollbar-thumb { background-color: rgb(59, 33, 14) }
::-webkit-scrollbar-track { background-color: rgb(175, 109, 61) }

hr {
  margin: 0;
  margin-bottom: 10px;
  background-color: rgb(237, 237, 237)
}

.address {
  margin: 0;
  text-align: center;
  color: white;
  margin-top: 10px;
  transition: margin-top .5s
}
.address img { width: 30px }
.maps {
  border: none;
  width: 100%;
  height: 450px;
  margin-bottom: 10px;
  transition: height .5s, margin-bottom .5s
}

.maps, .menusItem svg, .spotify, .imageSlider, .slider, .coders, .effect:after, .searchCoffee, .up {
  left: 50%;
  transform: translateX(-50%);
}
.maps, .spotify, .imageSlider, .coders, .searchCoffee, .up { position: relative; }

.spotify {
  width: 100%;
  margin-bottom: 5px
}

/* LOGO
**********************/
.logo {
  position: relative;
  width: 100%;
  height: 350px
}

.symbol {
  position: absolute;
  max-width: 225px
}

.logo .imgLogo {
  width: 100%;
  height: 100%
}

.menus {
  height: 0;
  position: relative;
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  transition: height .5s
}

.menusItem {
  position: relative;
  color: white;
  width: 100%;
  text-align: center;
  padding: 25px 0 0 0;
  background-color: rgb(58, 28, 6);
  transition: background-color .5s
}

.menusItem svg {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px
}

.menusButton {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 24px
}

.menusButton div {
  top: 50%;
  transform: translateY(-50%)
}
.menusButton div, .menusButton div:before, .menusButton div:after {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute
}
.menusButton div:before, .menusButton div:after { content: '' }

.menusButton div:before { top: 8px }

.menusButton div:after { bottom: 8px }


.actived { background-color: rgb(167, 99, 51) }

.search {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  transition: all .5s
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2.5px solid black;
  transition: border-color .5s
}

.straight {
  width: 16px;
  height: 3px;
  background-color: black;
  margin-left: 13px;
  transform: rotateZ(43deg);
  transition: background-color .5s
}

.searchCoffee {
  border: none;
  outline: none;
  font-size: 20px;
  text-indent: 10px;
  width: 100%;
  height: 45px;
  display: none;
  background-color: white;
  transition: width .5s
}

/* IMAGE SLIDER
**********************/
.imageSlider {
  max-width: 800px;
  height: 350px;
  background-color: rgb(122, 71, 34);
  overflow: hidden;
  transition: height .5s, margin-top .5s
}

.imageSlider img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s
}

.slider {
  position: absolute;
  bottom: 3px;
  height: 18px;
  white-space: nowrap
}

.btnSlider {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  transition: background-color .5s;
}

.btn {
  position: absolute;
  padding: 25px 6px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: 800;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  top: 50%;
  transform: translateY(-50%);
  outline: none
}

.divLeft:active ~ .btnLeft, .divRight:active ~ .btnRight, .btn:active { background-color: black }

.btnLeft {
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px
}
.btnRight {
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  right: 0
}

.div {
  width: 50%;
  height: 100%;
  position: absolute
}

.divRight { right: 0 }

.selected { background-color: dodgerblue }

.currentImage { opacity: 1 !important }

/* PRODUCT INFORMATION
**********************/
.productInformation {
  width: 300px;
  min-height: 0;
  background-color: rgb(237, 237, 237);
  display: inline-table;
  word-break: break-all;
  transition: all .5s;
  transition: opacity .5s;
  margin-bottom: 10px
}

.products { text-align: center }

.imgZoom {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden
}

.imgZoom img {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .5s
}

.productInformation h1 { margin: 0 }

.productInformation h1 { text-align: center }

/* FOOTER
**********************/
.footerSection {
  width: 100%;
  min-height: 0;
  background-color: rgb(83, 48, 23);
  text-align: center
}

.information {
  position: relative;
  color: white;
  display: inline-table;
  word-wrap: break-word
}

.information h3, .information p { margin: 0 }

.information h3 {
  margin-top: 20px;
  text-align: center
}

.coders {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 10px
}

.coders img {
  border-radius: 50%;
  width: 100%;
  height: 100%
}

.shadow {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .5s
}

.shadow h1 {
  margin: 0;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.footerMessage {
  margin: 0;
  text-align: center;
  color: white
}

.effect a {
  text-decoration: none;
  color: white
}

.up {
  margin-top: 10px;
  display: block
}

@media (min-width: 320px) { .spotify { width: 300px } }

@media (min-width: 500px) {
  .search {
    right: 0;
    top: 0;
  }
  .circle { border-color: white }
  .straight { background-color: white  }
  .maps { width: 90% }
  .menusButton { display: none }
  .menus {
    display: block !important;
    text-align: center;
    height: 0 !important;
    white-space: nowrap;
    overflow: unset
  }

  .menusItem {
    display: inline-block;
    transform: translateY(-100%);
    width: 100px;
    padding: 25px 10px 0 10px;
    transition: all .5s
  }

  .searchCoffee { width: 40%; margin-top: 5px }
  .imageSlider { margin-top: 10px }
}

@media (min-width: 768px) { .maps { width: 80% } }

@media (min-width: 1024px) {
  .productInformation, .coders, .btnSlider, .imageSlider, .maps, .spotify { box-shadow: 0 0 20px rgb(59, 33, 14) }
  .btn {
    box-shadow: 0 0 15px black;
    transition: background-color .5s
  }
  ::-webkit-scrollbar-thumb:hover { background-color: rgb(41, 22, 8) }
  .menusItem:hover { background-color: rgb(43, 19, 2) }
  .actived:hover { background-color: rgb(139, 81, 39) }
  .btn:hover, .divLeft:hover ~ .btnLeft, .divRight:hover ~ .btnRight { background-color: black }
  .imgZoom img:hover {
    width: 110%;
    height: 110%;
    transform: translate(-5%, -5%)
  }
  .shadow:hover { opacity: 1 }

  .effect { position: relative }
  .effect:after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: rgb(59, 33, 14);
    position: absolute;
    bottom: .5px;
    transition: width .5s
  }
  .effect:hover:after { width: 100% }

  .div, .menusButton, .search, .btnSlider, .btn, .effect, .menusItem, .up { cursor: pointer }
}